*{
  font-family: 'Lucida Grande', 'Trebuchet MS', sans-serif;
}
html,body,p{
  margin:0;
  padding:0;
}

em {
    font-style: normal;
    color: lime;
}

.slide p{
  line-height:1.4;
  margin:.5em 0;
}
h1,h2{
  margin-top:.2em;
  margin-left:.2em;
  margin-right:.2em;
}
.slidemode{
  background:#000;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.slidemode .slide{
  position:absolute;
  top:5%;
  bottom:5%;
  left:5%;
  background:#333;
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 1px 1px;
  letter-spacing: 0.15em;
  padding:1%;
  height:0%;
  overflow:hidden;
  width:88%;
  border-radius:20px;
  opacity:0;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.slidemode .slide.left{
  right:100%;
  left:-100%;
  height:0%;
  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -o-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  transform:rotate(-30deg);
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slidemode .slide.right{
  left:100%;
  right:-100%;
  height:0%;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -o-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slidemode .view{
  height:88%;
  opacity:1;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  transform:rotate(0deg);
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slidemode a:link{
  color: #aaaaff;
}
.slidemode a:visited{
  color: #ccccff;
}
.slidemode a:hover{
  color: #ffffff;
}
pre.prettyprint{
  background:#fff;
}
.slidemode pre{
  font-size:70%;
}
.top .iframe{
  display:none;
}


